*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Monteserrat', Arial, Helvetica, sans-serif ;
    font-size: 13px;

}
body{
    overflow-x: hidden;
}   
header {
    height: 100px;
    background-color: black;
    color: #fff;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin:auto;
    display: flex;
    align-items: center;
}
.logo{
width: 100px;
}
.logoimg{
    width: 80px;
    height: 80px;
    border-radius: 20px  ;
    background-color: #b28756;
}
.menu{
flex: 1;
display: flex;
justify-content: flex-end;
}
.menu ul, 
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu  nav li{
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display:flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu nav li:hover,
.menu nav .ativo{
    border-bottom: 5px solid #b28756;
}
.button{
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 15px;
    border-radius: 10px;
}
.banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('./icones/bg.png');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;

}

.banner .sliders{
    width: 1000vw;
    height: 100%;
}

.banner .slide1{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0, 0, 0.5);
}
.banner .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.banner h1,
.banner h1 span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span{
    color: #b28756;
}
.banner h2{
    text-transform: uppercase;
    margin-top:20px;
    font-size: 25px;
}

.banner .slidepontos{
    width: 100vw;
    height: 20px;
   
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pontos{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor:grab;
}
.banner .pontos.active{
background-color: #b28756;
}

.padrao{
   
    padding-top: 50px;
    padding-bottom: 50px;
}
.padrao .section-titulo,
.padrao .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.padrao .section-titulo{
    font-size: 20px;
  
}
.padrao .section-desc{
    font-size: 12px;
    color: #978f8f;
    margin-top:10px;
    margin-bottom: 40px;
}
.padrao .section-body{
    max-width: 1140px;
    margin: auto;
    
}
.padrao.ligth{
    background-color: #f7F7f7;
}
.padrao.ligth .section-titulo,
.padrao.ligth .section-body{
    color: #000;
}
.padrao.dark{
    background-color: #000;
}
.padrao.dark .section-titulo,
.padrao.dark .section-body{
    color: #fff;
}




/* CSS DE AREAS ESPECIFICAS 
*/

.section-aboutus{
    display:flex;
}
.section-about--esquerda{
flex:1;
}
.section-about--esquerda p{
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}
.section-about--direita{
width: 520px;
text-align: center;
}

.section-about--direita img{
    width: 460px;
    box-shadow: 7px  5px 10px #a1a0a0;
}



.section-services{
    display: flex;
}

.section-service1{
    flex:1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.section-service1:first-child{
    border-left: 1px solid #333;
}
 .star{
    width:160px;
    height: 170px;
    margin-top:20px;
    margin-bottom: 32px;
}

.section-service1 h4{
    margin-top:10px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service1 p{
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}






.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters{
    border:1px, solid, #999;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}
.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size:14px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom:3px solid #eee ;
}
.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 4px solid #b28756;
    cursor: pointer;
}

.section-projects--filters li:first-child{
border-left: 0;
}


.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

}
.projects-photos{
    width: 280px;
}

.projects-photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.projects-photoarea img{
    width: inherit;
    height: inherit;
}
.projects-photoinfo{
    position: absolute;
    background-color: rgba(0,0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
}

.projects-photoinfo h5{
    font-size: 21px;
    font-weight: 600;
}

.projects-photoarea:hover .projects-photoinfo{
display: flex;
}





.bg-team{
    background-image: url('./icones/bg.png');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area{
    background-color: rgba(0,0, 0, 0.7);
    padding-top:50px;
    padding-bottom: 50px;

}

.section-team{
    overflow: hidden;
    max-width: 880px;
    margin:auto;
}

.section-team .sliders{
    width: 1000vw;
    height: 100%;
    background-color: red;
    
}

.section-team .slide1{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-flex;
    justify-content: space-between;
    background-color:#fff;
    margin-right: 20px;
    
    
}
.section-team .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}

.section-team-area .slidepontos{
    margin-top: 20px;
    margin-right: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team-area .pontos{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor:grab;
}
.section-team-area .pontos.active{
background-color: #b28756;
}

.section-team-avatar {
width: 150px;
height: auto;
}

.section-team-name{
text-transform: uppercase;
font-weight: 600;
font-size: 17px;
margin-top: 30px;
}

.section-team-role{
font-size: 14px;
color: #999;
margin-top: 5px;
}
.section-team-social{
display: flex;
margin:10px;


}
.section-team-social a{
display:inline-flex;
width: 25px;
height:20px;
flex-wrap: nowrap;
background-color: #ccc;
margin-right:5px;
border-radius: 10px;
}

.section-team-social a:hover {
    background-color: #eb9c42;

}














































































































































